<a href="https://colab.research.google.com/github/HendrikMonterrey/evidencias-entregas2039_101-HendrikMonterrey/blob/main/Evidencia%20Actividad%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
path = '/content/antropometria-dataset-2.csv'

In [ ]:
import pandas as pd

data = pd.read_csv(r'/content/antropometria-dataset-2.csv')
df = pd.DataFrame(data)

print(df)

        folio  intp  entidad                         desc_ent  sexo  edad  \
0      210295     2       21                           PUEBLA     2    38
1      101655     3       10                          DURANGO     2    11
2       10287     6        1                   AGUASCALIENTES     2    18
3       91526     4        9                 DISTRITO FEDERAL     1    10
4      210939     3       21                           PUEBLA     2    19
...       ...   ...      ...                              ...   ...   ...
18635  300116     2       30  VERACRUZ DE IGNACIO DE LA LLAVE     2    73
18636   40253     1        4                         CAMPECHE     2    75
18637  301099     1       30  VERACRUZ DE IGNACIO DE LA LLAVE     1    86
18638  250801     1       25                          SINALOA     2    72
18639   11786     2        1                   AGUASCALIENTES     2    71

       meses   peso  ropa   talla  ... hpresion tbrazo  htension  PrimaryLast  \
0          8  73.70     2  146.40  ...    16:30      2     16:35            1
1         11  35.65     2  145.10  ...    15:25      3     15:25            1
2          8  54.80     1  162.00  ...     9:40      1      9:40            1
3          8  33.40     2  146.50  ...     7:40      3      7:45            1
4          3  97.95     2  161.00  ...     6:00      2      6:00            1
...      ...    ...   ...     ...  ...      ...    ...       ...          ...
18635     11  75.80     1  141.15  ...    18:00      1     18:05            1
18636      0  69.40     1  144.80  ...    18:40      1     18:40            1
18637      7  46.75     2  149.20  ...     8:00      3     23:00            1
18638      7  59.05     2  142.50  ...     6:02      3      6:02            1
18639      8  80.00     2  150.65  ...    13:50      3     13:00            1

       code_upm  est_dis est_urb est_marg       pondef  est_var
0         R2101        5       3        1  3470.002176      215
1         M1041        1       1        1   417.946672      101
2         M0108        5       3        1   472.980811       15
3         M0931        4       3        2  1832.581391       94
4         M2123        5       3        1  7622.066564      215
...         ...      ...     ...      ...          ...      ...
18635     R3002        5       3        1  7615.607749      305
18636     M0408        5       3        1   195.314670       45
18637     M3024        2       1        2  1758.912979      302
18638     M2512        3       2        1  2354.581350      253
18639     M0143        2       1        2   591.847039       12

[18640 rows x 26 columns]

In [ ]:
pd.pivot_table(df,
               index = 'sexo',
               values = 'peso',
               columns = 'sexo',
               aggfunc =  'median'
               )

ValueError: ignored

In [ ]:
pd.pivot_table(df,
               index = 'sexo',
               values = 'peso',
               aggfunc =  'mean'
               )

In [ ]:
pd.pivot_table(df,
               index = 'desc_ent',
               values = 'peso',
               aggfunc = 'mean')

In [ ]:
pd.pivot_table(df,
               index = 'desc_ent',
               values = 'peso',
               columns = 'sexo',
               aggfunc = 'median')

In [ ]:
df.plot.line('cintura')

In [ ]:
df['peso'].plot(kind = 'box',
          #whis = (0, 100),
          #showfliers = False,
               figsize = (8, 5),
               vert = False,
               color = 'r',
)

In [ ]:
pd.pivot_table(df,
               index = 'desc_ent',
               values = 'peso',
               columns = 'sexo',
               aggfunc = 'mean')

In [ ]:
path = '/adult (1).csv'

In [ ]:
import pandas as pd

data = pd.read_csv(r'/adult (1).csv')
df = pd.DataFrame(data)

In [ ]:
pd.pivot_table(df,
               index = 'marital-status',
               values = 'age',
               columns = ['sex', 'education'],
               aggfunc = 'median')

In [ ]:
pd.pivot_table(df,
               index = 'marital-status',
               values = 'age',
               columns = 'education',
               aggfunc = 'mean')